@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'C oncert One', cursive;

}
.container{
height:100vh;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color:black ;
}

.clock{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 4px solid #000 ;
    box-shadow: rgb(38, 57, 77) inset
    6px 6px 30px 20px;
    position: relative;
    
}
.numbers {
width: inherit;
height: inherit;
position: relative;
}

.numbers > div{
    font-size: 4rem;
    color: grey;
    position: absolute;
    text-shadow:3px 3px 3px #fff ;
}

.twelve{
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
 }
 .one{
    top: 9%;
    right: 25%;
    transform: translateY(-25%);
}
.two{
    top: 25%;
    right: 8%;
    transform: translateY(-8%);
}

 .three{
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
 }
 .four{
    bottom: 20%;
    right: 8%;
    transform: translateY(-8%);
 }
 .five{
    bottom: 4%;
    right: 23%;
    transform: translateY(-23%);
 }

 .six{
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
 }
 .seven{
    bottom: 4%;
    left: 23%;
    transform: translateY(-23%);
 }
 .eight{
    bottom: 20%;
    left: 8%;
    transform: translateY(-8%);
 }

 .nine{
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
 }

 .ten{
    top: 25%;
    left: 8%;
    transform: translateY(-8%);
 }
 .eleven{
    top: 9%;
    left: 25%;
    transform: translateY(-25%);
 }
 
 .hands{
    width:inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.hands::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius:50%;
    background: #808080e6;
    box-shadow: 3px 3px 3px #fff;
    z-index: 10;
}
.hands div{
    height: 200px;
    width: 10px;
    background-color:#808080e6 ;
    position: absolute;
    bottom: 50%;
    /* box-shadow: 3px 3px 3px #fff; */
    border-radius: 90% 90% 0 0;
    transform-origin: bottom center;
    
}

.hands div.second{
   background-color: skyblue;
   transform: rotate(180deg);
}
.hands div.hour{
   height: 150px;
   transform: rotate(90deg);
}
